:root {
    --shadow-col:rgb(25, 20, 31);
    --border-col:rgb(40, 29, 46);
    --dark-bg: rgb(73, 59, 81);
    --light-fg: rgb(254, 246, 252);
    --panel-col: rgba(46, 36, 52, 0.6);
    --accent-col: rgb(255, 103, 146);
    --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--dark-bg);
    padding-top: 45px;
    padding-left: 10px;
}

p, h1, h2, h3, li, a {
    color: var(--light-fg);
    font-family: var(--main-font);
}

h1, h2, h3 {
    color:var(--accent-col);
}

a {
    color: var(--accent-col);
}

.wrap-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.wrap-panel--vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.round-border, .round-border--heading, .round-border--section, .round-border--panel, .topnav {
    background-color: var(--border-col);
    border-color: var(--light-fg);
    border-style: none;
    border-radius: 14px;
    padding: 4px;
    box-shadow: 4px 4px 8px var(--shadow-col);
}

.round-border--heading {
    padding: 10px 18px;
}

.round-border--section {
    padding: 2px 18px;
    margin-bottom: 10px;
}

.round-border--panel {
    padding: 2px 18px;
    background-color: var(--panel-col);
    border-radius: 10px;
    border-style: none;
}

.topnav {
    position: fixed;
    top: 10px;
    overflow: hidden;
    padding: 2px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    padding: 8px 12px;
    margin: 2px;

    color: var(--light-fg);
    font-size: large;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--light-fg);
    color: var(--shadow-col);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--accent-col);
    color: var(--light-fg);
}